# SPDX-License-Identifier: GPL-2.0-or-later

# Emulation for QEMU 2.8 ARM Virtual Machine (alias of virt-2.8)
# https://wiki.qemu.org/Documentation/Platforms/ARM

if BOARD_EMULATION_QEMU_ARMV7_VIRT

config BOARD_SPECIFIC_OPTIONS
	def_bool y
	select ARCH_BOOTBLOCK_ARMV7
	select ARCH_VERSTAGE_ARMV7
	select ARCH_ROMSTAGE_ARMV7
	select ARCH_RAMSTAGE_ARMV7
	select NO_MONOTONIC_TIMER
	select BOARD_ROMSIZE_KB_4096
	select BOOT_DEVICE_NOT_SPI_FLASH
	select DRIVERS_UART_PL011
	select HAVE_LINEAR_FRAMEBUFFER
	select MAINBOARD_FORCE_NATIVE_VGA_INIT
	select MAINBOARD_HAS_NATIVE_VGA_INIT
	select MISSING_BOARD_RESET
	select FLATTENED_DEVICE_TREE
	select PCI

config ECAM_MMCONF_BASE_ADDRESS
	default 0x3f000000

config ECAM_MMCONF_LENGTH
	default 0x01000000

config ECAM_MMCONF_BUS_NUMBER
	default 16

config MEMLAYOUT_LD_FILE
	string
	default "src/mainboard/emulation/qemu-armv7-virt/memlayout.ld"

config MAINBOARD_DIR
	default "emulation/qemu-armv7-virt"

config MAINBOARD_PART_NUMBER
	default "QEMU ARMv7 Generic Virtual Platform"

config MAX_CPUS
	int
	default 2

config MAINBOARD_VENDOR
	string
	default "QEMU"

config DRAM_SIZE_MB
	int
	default 3072 # DRAM starts at 1GiB, max 3GiB due to 32-bit

endif #  BOARD_EMULATION_QEMU_ARMV7_VIRT
