## SPDX-License-Identifier: GPL-2.0-only

config DRIVERS_EMULATION_QEMU_BOCHS
	bool "bochs dispi interface vga driver"
	default y
	depends on PCI
	depends on VENDOR_EMULATION
	depends on MAINBOARD_DO_NATIVE_VGA_INIT
	select HAVE_VGA_TEXT_FRAMEBUFFER if CPU_QEMU_X86
	select HAVE_LINEAR_FRAMEBUFFER
	select VGA
	help
	   VGA driver for qemu emulated vga cards supporting
	   the bochs dispi interface.  This includes
	   standard vga, vmware svga, and qxl.

config DRIVERS_EMULATION_QEMU_CIRRUS
	bool "cirrus svga driver"
	default y
	depends on PCI
	depends on VENDOR_EMULATION
	depends on MAINBOARD_DO_NATIVE_VGA_INIT
	select HAVE_VGA_TEXT_FRAMEBUFFER if CPU_QEMU_X86
	select HAVE_LINEAR_FRAMEBUFFER
	select VGA
	help
	   VGA driver for qemu emulated cirrus svga card.

config DRIVERS_EMULATION_QEMU_RAMFB
	bool "ramfb driver"
	default y
	depends on VENDOR_EMULATION
	depends on MAINBOARD_DO_NATIVE_VGA_INIT
	select HAVE_LINEAR_FRAMEBUFFER
	help
	   Graphics driver for qemu emulated ramfb device.

config DRIVERS_EMULATION_QEMU_XRES
	int "qemu vga xres"
	default 800
	depends on LINEAR_FRAMEBUFFER
	depends on DRIVERS_EMULATION_QEMU_BOCHS || DRIVERS_EMULATION_QEMU_CIRRUS

config DRIVERS_EMULATION_QEMU_YRES
	int "qemu vga yres"
	default 600
	depends on LINEAR_FRAMEBUFFER
	depends on DRIVERS_EMULATION_QEMU_BOCHS || DRIVERS_EMULATION_QEMU_CIRRUS

config DRIVERS_EMULATION_QEMU_FW_CFG
	bool
	depends on VENDOR_EMULATION
	help
	   Driver for QEMU-specific device that passes various config
	   information to the firmware including e.g. ACPI and SMBIOS
	   tables.

config QEMU_FW_CFG_BASE_ADDRESS
	hex
	depends on DRIVERS_EMULATION_QEMU_FW_CFG && !CPU_QEMU_X86
	help
	    Platform dependent base address of the MMIO (and DMA)
	    registers for the QEMU firmware configuration device.
